p {
  font-family: Lato;
}

.searchBox {
  width: 75%;
  font-size: 12px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.checkbox-label,
.radio_option {
  font-size: 13px;
  margin-left: 7px;
  vertical-align: middle;
}

.table-heading,
.table-row {
  font-size: 12px;
}

.create_form_field {
  font-size: 11px;
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 5px;
  width: 75%;
  margin-left: 5px;
}

.add-btn {
  font-weight: bold;
  color: lightblue;
  width: 60px;
  border: 1px solid #007bff;
  background: #007bff;
  border-radius: 12px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.message {
  font-size: 12px;
  margin-left: 5px;
  color: white;
  width: 50%;
  padding: 3px;
}

.successMsg {
  background: green;
}

.errorMsg {
  background: red;
}

i {
  cursor: pointer;
}
